<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="file" value="c:/temp/log4j.log"/>
        <param name="append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.coherentlogic">
        <level value="debug"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="org.springframework.web.client">
        <level value="debug"/>
        <appender-ref ref="consoleAppender"/>
    </logger>

    <logger name="httpclient.wire">
        <level value="debug"/>
        <appender-ref ref="consoleAppender"/>
    </logger>

    <root>
        <priority value ="info" />
        <appender-ref ref="consoleAppender" />
    </root>

</log4j:configuration>